@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:wght@500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* TODO: Add root variables here */
}

body {
  /* TODO: Start here */
}

#root {
  /* TODO: Start here */
}

