*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* TODO: Add root variables here */
}

body {
  /* TODO: Start here */
}

#root {
  /* TODO: Start here */
}

